.my-login-option-wrap {
    height: 20px;
    position: relative;
}

.my-login-option-wrap > div {
    position: absolute;
}

.my-login-option-left {
    left: 0;
}

.my-login-option-left > * {
    margin: 0;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}

.my-login-option-right {
    right: 0;
}

#my-login-saveid {
    margin: 0;
    transform: scale(1.2);
}

.my-login-option-wrap > *, a.my-login-option-link:link, a.my-login-option-link:visited, a.my-login-option-link:hover {
    color: rgba(100, 100, 100, 1);
}

.my-login-sep {
    display: inline-block;
    margin: 0 10px;
}

.my-login-loginbtn {
    border: none;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: rebeccapurple;
}

.my-login-loginbtn:focus {
    outline: none;
}

.my-login-loginbtn-txt {
    font-size: 1.2em;
    font-weight: 700;
    display: inline-block;
    color: white;
    vertical-align: middle;
}

.my-login-hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 5px;
}

.my-login-id-info, .my-login-pw-info {
    display: none;
    text-align: center;
    color: red;
    margin-bottom: 20px;
}
.my-login-errormsg{
    color:red;
    margin:20px 0;
    text-align:center;
}
