.my-member-container {
    width: 550px;
    margin: 0 auto;
    padding: 20px 50px;
    border: 1px solid rgb(0, 0, 0, 0.13);
    background-color: white;
}

.my-member-container:nth-child(2n-1) {
    margin-top: -1px;
}

.my-member-row {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 5px 0;
}

.my-member-row > div {
    position: absolute;
}

.my-member-label, .my-member-input {
    margin: 0;
    font-size: 1.2em;
}

.my-member-input {
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 0 20px;
    width: 320px;
    height: 60px;
}

.my-member-input:focus {
    outline: none;
}

.my-member-row-left {
    left: 0;
}

.my-member-row-right {
    right: 0;
}

input.my-member-green-border {
    border: 1px solid rgba(0, 180, 35, 1);
}

input.my-member-red-border {
    border: 1px solid red;
}

.my-member-title {
    text-align: center;
    margin: 0 0 20px 0;
}

.my-member-logo {
    text-align: center;
    margin-bottom: 25px;
}

.my-member-logo a:link, .my-member-logo a:visited, .my-member-logo:hover {
    text-decoration: none;
}
