ul,li,button,p,div{list-style: none;margin:0;padding:0}
button.glyphicon{opacity:1;transform:scale(1);top:0;font-size:14px;color:#2e2e2e}
.my-player-wrap {
    color:#666;
    width: 100%;
    min-width: 1060px;
    position: fixed;
    bottom: 0;
}
.my-player-outer-container{
    height:48px;
    background: #f2f2f2;
    border-top:1px solid #cecece;
}
.my-player-container {
    margin: 0 auto;
    width: 1060px;
}
.my-player-container>div{
    display:table-cell;
    vertical-align: middle;
    height:48px;
}

.icon-keys{
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    width:24px;
    height:100%;
    margin:0 0 0 12px;
}
.icon-keys button{
    height:100%;
}
.icon-keys.shuffle button.shuffle{
    color:mediumpurple;
}
.icon-keys.repeat button.on{
    color:mediumpurple;
}

.my-player-controls{
    padding-right:20px;
}
.my-player-controls ul{
    font-size:0;
    height:100%;
    width: 180px;
}

.my-player-timeline{
    font-size:0;
    width:574px;
}
.my-player-timeline-inner{
    display:table;
    width:100%;
}
.my-player-timeline-inner>div{
    display:table-cell;
    height:48px;
    vertical-align:middle;
}
.my-player-timeline-inner .timeline-nowplaying{
    width:50px;
    font:11px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
.my-player-timeline-inner .timeline-nowplaying.timer{
    text-align:right;
    color: rebeccapurple;
}
.my-player-timeline-inner .timeline-nowplaying p{
    display:table-cell;
    vertical-align:middle;
    width:50px;
    height:48px;
}
.my-player-timeline-inner .progress-wrap{
    width:325px;
}
.my-player-timeline-inner .timeline-volume-control{
    width:104px;
    font-size:0;
    white-space:nowrap;
}
.my-player-timeline-inner .timeline-volume-control .volume button{
    margin:0;
}
.my-player-timeline-inner .timeline-volume-control .progress-wrap{
    width:60px;
}

.progress-wrap{
    padding:0 10px;
    display:inline-block;
    vertical-align:middle;
}

.progress-outline{
    height:1px;
    width:100%;
    background:#ccc;
    position: relative
}
.progress-bar{
    position: absolute;
    top:0;
    background: rebeccapurple;
    left:0;
    height:1px;
}
.my-player-nowplaying{
    width:250px;
    font-size:0;
}
.my-player-nowplaying img{
    width:30px;
    height:30px;
    display:inline-block;
    margin-right:10px;
    vertical-align:middle;
}
.my-player-nowplaying .song-info{
    display:inline-block;
    vertical-align:middle;
    width:210px;
}
.my-player-nowplaying .song-info p{
    position: relative;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font:12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif
}
.my-player-nowplaying .song-info .song-info-title{
    color:#999;
}
.my-player-others{
    width:34px;
}
