.my-header-wrap{
    min-width:1060px;
    width:100%;
}
.my-header-top-deco {
    height: 4px;
    background-color: rebeccapurple;
}

.my-header-nav {
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.my-header-nav-wrap {
    position: relative;
    text-align: center;
}

.my-header-nav-item-wrap {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    height: 46px;
}

.my-header-nav-item-wrap > div {
    display: inline-block;
}

.my-header-nav-item-center {
    margin-right: -90px;
    display: inline-block;
    vertical-align: middle;
}

.my-header-nav-item-left {
    left: 0;
}

.my-header-nav-item-left > .my-header-nav-item {
    margin-right: 15px;
}

.my-header-nav-item-right {
    right: 0;
}

.my-header-nav-item-right > .my-header-nav-item {
    margin-left: 15px;
}

.align-helper {
    height: 45px;
}

.my-header-nav-item, .my-header-nav-item:link, .my-header-nav-item:visited {
    color: rgba(125, 125, 125, 1);
    text-decoration: none;
}

a.my-header-nav-item:hover {
    text-decoration: none;
    color: rgba(25, 25, 25, 1);
}

.my-header-nav-search {
    border-radius: 5px;
    border: 1px solid rgba(125, 125, 125, 1);
    padding: 4px 25px 4px 10px;
    width: 340px;
    text-decoration: none;
    box-shadow: none;
}

input.my-header-nav-search:focus {
    outline: none;
}

span.glyphicon-search {
    margin-left: -28px;
}

.my-header-menu {

}
